
@font-face{
    font-family:'Quicksand-Medium';
    src:url('../fonts/Quicksand-Medium.ttf');
}
body{
    font-family: Quicksand-Medium !important;
    font-size: 14px;
    margin: 0px auto;
    color: #333;
    overflow-x: hidden;
    background: url(../../img/bk.png);
    background-size: cover;
    padding-bottom: 94px;
}
.title-banner {
    text-shadow: 2px 2px 4px #000000;
}
/*#portfolio .container-fluid {*/
    /*padding-right: 0px;*/
    /*padding-left: 0px;*/
/*}*/
#portfolio{
    padding-bottom: 100px !important;
}
.masthead {
    min-height: 350px;
    height: auto;
    padding-top: 0px;
}
.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}
.title-banner {
    color: #fff;
    font-size: 70px !important;
}
.portfolio-item {
    height: 225px;
}
.portfolio-item .caption-content {
    width: 100%;
}
.item-1 {
    background: #096cab url(../img/h_admin.png) no-repeat 25% 30%;
}
.item-2 {
    background: #082b52 url(../img/h_teacher.png) no-repeat 25% 30%;
}
.item-3 {
    background: #64b8c0 url(../img/h_students.png) no-repeat 25% 30%;
}
.item-4 {
    background: #ad820b url(../img/h_parents.png) no-repeat 25% 30%;
}
.portfolio-item .caption .caption-content {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.caption-content .caption-text {
    text-align: center !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700 !important;
}
.content-section {
    padding-top: 0rem;
    padding-bottom: 1.0rem;
}
.navbar-light .navbar-brand {
    color: #ffc100 !important;
    font-weight: 600;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.manager-center .col-sm-6 {
    padding-top: 10px;
    /*background-color: #b7a65c8c;*/
}

/*Trungtam ql*/
.image-full {
    width: 100%;
}
#footer_ioc {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
/*can bo quan ly*/
.box-epmt .panel-image {
    text-align: left;
    margin-bottom: 20px;
}

.box-epmt .panel-image figure { margin: 0; position: relative; }

.box-epmt .panel-image figure img { max-width: 100%; display: block; position: relative; }

.box-epmt .panel-image figcaption { position: absolute; top: 0; left: 0; padding: 10px; background: #E4F1FE; color: #ed4e6e; }

.box-epmt .panel-image figcaption h3 { margin: 0; padding: 0; color: #2c3f52; }

.box-epmt .panel-image figcaption a { text-align: center; padding: 5px 10px; border-radius: 2px; display: inline-block; background: #ed4e6e; color: #fff; transition: 0.5s; opacity: 0; }

/* Caption Style 3 */
.box-epmt .cs-style-3 figure { overflow: hidden; }

/*.box-epmt .cs-style-3 figure img { -webkit-transition: -webkit-transform 0.4s; -moz-transition: -moz-transform 0.4s; transition: transform 0.4s; }*/

.box-epmt .cs-style-3 figure:hover img { /* -webkit-transform: translateY(-50px);
-moz-transform: translateY(-50px);
-ms-transform: translateY(-50px);
transform: translateY(-50px); */ }

.box-epmt .cs-style-3 figcaption { width: 100%; top: auto; bottom: 0; opacity: 0.6; transition: 0.7s; }

/*.box-epmt .cs-style-3 figure:hover figcaption { opacity: 1; }*/
/*.box-epmt .cs-style-3 figure:hover figcaption a { opacity: 1; }*/

.box-epmt .cs-style-3 figcaption a { position: absolute; bottom: 20px;
    right: 5px;
    font-size: 13px;
}

#giao_vien .box-epmt .cs-style-3 figcaption a {
    position: absolute;
    bottom: 12px;
    right: 5px;
}
.hyper-link {
    font-size: 20px;
}


#portfolio{
    background: #e5e6e7;
}
.navbar{
    background: url("../images/bg_header.png");
    height: 94px;
    display: none;
}
.navbar-light .navbar-brand {
    color: #ffc100 !important;
    font-weight: 600;
    font-size: 25px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.colq-5{
    width: 20%;
    float: left;
    padding: 0px 15px;
}
#quyen_main{
    background: url("../images/bg_home.png") center no-repeat;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0;
}
#quyen_main .box_main{

    background: #fff;
    border-radius: 100%;
    height: 204px;
    width: 204px;
    position: relative;
}
#quyen_main .box_main .box_main_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.cl30{
    clear: both;
    height: 30px;
}
.cl20{
    clear: both;
    height: 20px;
}
.cl10{
    clear: both;
    height: 10px;
}
.cl5{
    clear: both;
    height: 5px;
}
#quyen_main .box_main .box_main_img h2 a{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}
.up11{
        padding-left: 56px;


}
.nav-111{
    margin-top: -24px;
}
#mainNav .logo{
        display: inline-block;
    float: left;
    margin-right: 12px;
     
}

/*.box-1-content.box-1-content-left{
        height: 509px;
    overflow: auto;
}
*/
.training-item-2 >.content {
    font-size: 14px;
    display: flex;
    margin-top: 10px;
}
.training-item-2 {
    margin-bottom: 20px;
    height: 220px !important;
    overflow: hidden;
}
.active-hover:hover {
    box-shadow: 3px 3px 4px #ccc;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.03);
}
.content > img {
    width: 120px;
    height: 100%;
    margin-right: 5px;
}
.training-item-2 >label {
    font-weight: 100;
    font-size: 14px;
}
.training-button {
    width: 49%;
}
.e-learning-item {
    margin: 10px;
    padding: 10px;
}
.e-learning-item >div {
    font-size: 14px;
    color: #5d5d5d;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.h1-tt a {
    color: #333;
    text-decoration: none !important;
}
.search-pageForm {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #b7bdbf;
    background-color: #FFF;
    padding-bottom: 15px;
}
.search-tit {
    font-weight: 700;
    color: #0395e0;
    font-family: 'Roboto',sans-serif;
    position: relative;
    width: 98%;
}
.search-group {
    border: 1px solid #337ab7;
    height: 34px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
    position: relative;
    margin-right: 0;
    margin-left: 0;
}
.icon-inputs {
    position: absolute;
    top: 6px;
    left: 5px;
}
.banner-home.img-home {
        height: calc(100vh - 100px);
}
.banner-home.img-home img {
    display: none;
}
.banner-home.img-home:after {
    background-color: transparent !important;
}
#header-site {
    display: none;
}
#page-title {
    margin-top: 85px;
}
.navi-menu-item.active a span {
    
}
.navi-menu-item.active a span {
    background: rgb(250, 250, 250) !important;
    color: rgb(52, 52, 52) !important;
    /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3) !important;*/
}